<template>
	<div>
		<h4>{{this.title}} <span class="badge badge-info">{{items.length}}</span></h4>
		<div class="card">
			<div class="card-content">
				<ul class="list-group">
					<li class="list-group-item" v-for="item in items" v-bind:key="item">
						<div class="row">
							<div class="col-md">
								{{ item }}
							</div>
							<div class="col-md text-right">
								<button class="btn btn-danger" v-on:click="deleteItem(item)">
									<span class="fa fa-trash"></span>
								</button>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="input-group mt-3">
			<input class="form-control" v-model="item" v-on:keyup.enter="addItem(item)" placeholder="Insira um item" />
			<div class="input-group-append">
				<button class="btn btn-info" type="button" v-on:click="addItem(item)">
					<span class="fa fa-plus"></span>
				</button>
			</div>
		</div>
	</div>
</template>

<script>

export default {
	name: "AppListItem",
	props: [
		"items",
		"title"
	],
	data() {
		return {
			"item": ""
		}
	},
	methods: {
		addItem: function(item) {
			if (item.trim() !== '') {
				this.$emit("addItem", item);
				this.item = "";
			}
		},
		deleteItem: function(item) {
			this.$emit("deleteItem", item);
		}	
	}
}

</script>

<style scoped></style>