<template>
	<div id="app">
		<div class="text-center mt-3 mb-3">
			<h1>Gerador de Domínios</h1>
			<div>
				<h5 class="text-secondary">Um gerador de domínios</h5>
			</div>
		</div>
		<div id="main">
			<div class="container">
				<div class="row">
					<div class="col-md">
						<AppListItem title="Prefixos" v-bind:items="prefixes" v-on:addItem="addPrefix" v-on:deleteItem="deletePrefix" />
					</div>
					<div class="col-md">
						<AppListItem title="Sufixos" v-bind:items="sufixes" v-on:addItem="addSufix" v-on:deleteItem="deleteSufix" />
					</div>
				</div>
				<div class="mt-5">
					<h4>Domínios <span class="badge badge-info">{{domains.length}}</span></h4>
					<div class="card">
						<div class="card-content">
							<ul class="list-group">
								<li class="list-group-item" v-for="item in domains" v-bind:key="item.name">
									<div class="row">
										<div class="col-md">
											{{ item.name }}
										</div>
										<div class="col-md text-right">
											<button class="btn btn-success" v-on:click="deleteItem(item)">
												<span class="fa fa-shopping-cart"></span>
											</button>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import "bootstrap/dist/css/bootstrap.css";
import "font-awesome/css/font-awesome.css";

import AppListItem from "./components/AppListItem.vue";

export default {
	name: "app",
	components: {
		AppListItem
	},
	data() {
		return {
			prefixes: [],
			sufixes: [],
		}
	},
	methods: {
		addPrefix: function (item) {
			this.prefixes.push(item);
		},
		deletePrefix: function (item) {
			this.prefixes.splice(this.prefixes.indexOf(item), 1);
		},
		addSufix: function (item) {
			this.sufixes.push(item);
		},
		deleteSufix: function (item) {
			this.sufixes.splice(this.sufixes.indexOf(item), 1);
		},
	},
	computed: {
		domains: function () {
			const domains = [];
			for (const prefix of this.prefixes) {
				for (const sufix of this.sufixes) {
					domains.push({
						name: prefix + sufix
					});
				}
			}
			return domains;
		}
	}
};
</script>

<style>

#main {
	background-color: #F1F1F1;
	padding: 30px 0;
}

</style>
